<div *ngIf="product != undefined">
    <h3>
        <a href="{{product.kaspi}}">
            {{product.name}}
        </a>
    </h3>
    <img src="{{product.img}}" alt="">
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <div class="rating">
        <p *ngIf="product.price">
            Price: {{product.price}} ₸
        </p>
        <div style="font-size: 14px;"  class="stars">
            Rating: {{stars(product.rating, true)}}<div style="font-size: 21px; outline: none; margin-top: -2.1px;">{{stars(5-product.rating, false)}}</div>
        </div>
    </div>
    <div class="buttons_item">
        <button type="button" (click)="share(product)">
            Share
        </button>
        <app-product-alerts
            [product]="product"
            (notify)="onNotify()">
        </app-product-alerts>
    </div>
</div>