.return_back
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back
{
  display: flex;
  align-items: center;
  width: fit-content;

  cursor: pointer;
}
.return_back span
{
  margin: 0 6px 2px 0;
}


.vacancy_details
{
  display: flex;
  align-items: end;
  position: relative;

  margin-top: 30px;
}
.vacancy_details img
{
  width: 170px;
}
.details_info
{
  margin-left: 40px;
}
.details_info .name
{
  font-size: 35px;
  font-weight: 700;

  margin-bottom: 5px;
}
.details_info .location
{
  font-size: 15px;
}
.salary
{
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 24px;
  font-weight: 600;
}
.salary span
{
  font-size: 15px;
  font-weight: 500;

  margin-right: 8px;
}


.update
{
  margin: 80px 0;
}
.update .title
{
  font-size: 22px;
  font-weight: 600;

  margin-bottom: 20px;
}
.section
{
  font-weight: 500;
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  font-size: 16px;
}
.section span
{
  margin-right: 6px;
  margin-bottom: 2px;

  font-size: 22px;
}
.update_top
{
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
textarea
{
  width: calc(100% - 410px);

  box-sizing: border-box;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 7px;

  padding: 15px;
  resize: none;

  font-family: 'Montserrat', sans-serif;
}
.top_right
{
  display: flex;
  flex-direction: column;

  width: 390px;
}
input
{
  height: 48px;

  margin-bottom: 10px;
  padding: 0 15px;

  box-sizing: border-box;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 7px;

  font-family: 'Montserrat', sans-serif;
}
.top_right input:last-child
{
  margin-bottom: 0;
}
.update_bottom
{
  display: flex;
  justify-content: space-between;
}
.update_bottom input
{
  width: calc(100% - 410px);
  margin-bottom: 0;
}
button
{
  width: 390px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14.5px;

  background: #FF0000;
  border-radius: 7px;
  color: #fff;
}
