/* Global Styles */

* {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-track
{
    background: #E9E9E9;
}
::-webkit-scrollbar-thumb
{
    background: rgb(255, 41, 41);
    border-radius: 1.5px;
}

*
{
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  margin: 0;
}

app-root
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

/* Hyperlink */

a {
  text-decoration: none;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */

button
{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
/* .button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
} */

/* Fancy Button */

/* .fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

/* app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

/* .cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
} */


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/