<div class="top">
  <p class="title">Companies list</p>
  <p class="scroll" (click)="scrollDown()">Add new company</p>
</div>

<div *ngIf="!loaded" class="loading">
  <img src="/assets/loading.gif" alt="loading">
</div>

<div class="list">
  <div *ngFor="let company of companies" class="company">
    <a href="/companies/{{company.id}}" style="display: flex; color: #000">
      <div class="logo">
        <img src="{{company.image}}" alt="company logo">
      </div>
      <div class="info">
        <div class="info_name">
          <p class="name">{{company.name}}</p>
          <p class="description">{{company.description}}</p>
        </div>
        <p class="location">{{company.city}}, {{company.address}}</p>
      </div>
    </a>
    <div class="remove" (click)="deleteCompany(company.id)">
      <span class="material-symbols-outlined">backspace</span>
    </div>
  </div>
</div>

<div class="add">
  <p class="title">Add new company</p>
  <p class="section"><span class="material-symbols-outlined">apartment</span> Company information:</p>
  <div class="add_top">
    <textarea [(ngModel)]="companyDescription" placeholder="Enter description about your company"></textarea>
    <div class="top_right">
      <input type="text" [(ngModel)]="companyName" placeholder="Company name">
      <input type="text" [(ngModel)]="companyCity" placeholder="Company city">
      <input type="text" [(ngModel)]="companyAddress" placeholder="Company address">
    </div>
  </div>
  <p class="section"><span class="material-symbols-outlined">mms</span> Company logo:</p>
  <div class="add_bottom">
    <input type="text" [(ngModel)]="companyImage" placeholder="Enter url to image">
    <button (click)="addCompany()">Add new company</button>
  </div>
</div>
