<div class="container">

  <div class="logo">
    <i class="material-icons">burst_mode</i>
    <span>My Gallery</span>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/home-component">Home</a></li>
      <li><a routerLink="/about-component">About</a></li>
      <li><a routerLink="/albums-component">Albums</a></li>
      <li><a routerLink="/albums-detail-component">Album detail</a></li>
      <li><a routerLink="/albums-photos-component">Album photos</a></li>
    </ul>
  </nav>

  <div class="end">
    <span>My Gallery</span>
    <a href="https://github.com/azikkw/Web-Development" target="_blank"><i class="material-icons link">link</i></a>
  </div>

</div>

<router-outlet></router-outlet>