<div class="container">
    <div class="add_album">
        <span>New album</span>
        <input type="text" [(ngModel)]="newAlbum.userId" placeholder="Enter User ID">
        <input type="text" [(ngModel)]="newAlbum.title" placeholder="Add title to your album" class="input_title">
        <button (click)="addAlbum()">Add</button>
    </div>
    <div class="title">Albums list</div>
    <div class="albums_container">
        <div *ngFor="let album of albums" class="album_item">
            <div class="album_top">
                {{album.id}}
                <i class="material-icons" (click)="removeAlbum(album.id)">close</i>
            </div>
            <div class="album_details">
                <span>User ID: {{album.userId}}</span>
                <span>Title: {{album.title}}</span>
            </div>
            <a routerLink="/albums-component/{{album.id}}" class="album_open">Open album</a>
        </div>
    </div>
</div>